/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/framework/sessions
/storage/logs
/public/css/app.css
/public/css/cas.css
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/mix-manifest.json
/client/node_modules
/client/build/*
/public/client/win/*
client/log.log
/tmp
