/*!
 * cas.scss
 */
@import '~bootstrap/scss/bootstrap';

/* 画面サイズ対応 */
.vue-app {
    height: calc(100vh / var(--ratio));
}
.modal-backdrop {
  width: calc(100vw / var(--ratio));
  height: calc(100vh / var(--ratio));
  background-color: #000;
}

/** bootstrap及びjQueryUIのfontをoverride **/
body {
    font-family: "Yu Gothic", YuGothic;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.has-error .form-control {
    border-color: #ff0039 !important;
    background-color: lightpink;
}

.has-error {
    border-color: #ff0039 !important;
    background-color: lightpink;
}

.ui-widget {
    font-family: "Yu Gothic", YuGothic;
    font-size: 15px;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: "Yu Gothic", YuGothic;
    font-size: 15px;
}
.ui-widget-overlay.ui-front ~ .ui-widget-overlay.ui-front {
    //display: none;
}
.ui-widget.ui-autocomplete {
    // z-index: 3001 !important;
}

.tooltip {
    font-family: "Yu Gothic", YuGothic;
    font-size: 15px;
}
.panel-title {
    font-weight: bold;
}
.dropdown-menu > li > a {
    font-size: 15px;
}

/** IE11では游ゴシックに下余白が入るバグがある為、メイリオで対応 **/
/**
@Media all and (-ms-high-contrast:none) {
    body {
        font-family: "メイリオ", Meiryo, sans-serif !important;
        font-size: 15px;
    }
    .ui-widget {
        font-family: "メイリオ", Meiryo, sans-serif !important;
        font-size: 14px;
    }
    .ui-widget input,
    .ui-widget select,
    .ui-widget textarea,
    .ui-widget button {
        font-family: "メイリオ", Meiryo, sans-serif !important;
        font-size: 14px;
    }
    .tooltip {
        font-family: "メイリオ", Meiryo, sans-serif !important;
        font-size: 15px;
    }
    label {
        font-weight: normal;
    }
    .label {
        font-weight: bold;
    }
}
**/

/* FontAwesome */
.fa, .fas {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
}
.fa-lg {
    font-size: 1.3333333333em !important;
    line-height: 0.75em !important;
    vertical-align: -0.0667em !important;
}
.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.pq-cmenu-item > td:first-child {
    padding-left: 8px;
    padding-right: 4px;
}

.container {
    width: auto;
}

#vue-app {
    background-color: lightgray;
    // height: calc(100vh - 100px);
}

/* transition */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.2s
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.slide-enter-active, .slide-leave-active {
    transition: transform 0.5s
}

.slide-enter {
    transform: translateX(100%)
}

.slide-leave-active {
    transform: translateX(-100%);
}

.container.body-content.Scrollable {
    overflow-y: auto !important;
}
.ui-dialog-content.body-content.Scrollable {
    overflow-y: auto !important;
    padding-bottom: 0px;
}

.container.body-content > #exception {
    display: table-cell;
    height: calc(80vh / var(--ratio));
    width: calc(100vw / var(--ratio));
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    font-size: 18px;
    color: red;
}

.container.body-content > #exception > #stacktrace {
    width: calc(90vw / var(--ratio));
    height: calc(75vh / var(--ratio));
    padding: 20px;
    border: solid 1px gray;
    background: wheat;
    margin: 20px 50px;
    text-align: left;
    overflow: auto auto;
    font-size: 14px;
    color: black;
    overflow-x: auto;
    overflow-y: auto;
}

.ui-widget-overlay {
    z-index: 2000;
    background: black;
    opacity: .5;
    filter: Alpha(Opacity=50);
}

.ui-dialog {
    padding: 0px;
    border-color: black !important;
    border-radius: 0px;
}
.ui-dialog .body-content {
    background-color: lightgray;
}
.ui-dialog .ui-dialog-titlebar  {
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 0px;
}
.ui-dialog .ui-dialog-buttonpane  {
    background-color: lightgray;
    border: none;
    border-top: solid black 1px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
.ui-dialog .ui-dialog-buttonpane button {
    width: 100px;
    height: auto;
    white-space: pre;
}

/* ツールチップ */
.tooltip {
    z-index: 3001;  /* bootstrap及びjQueryUIのデフォルトより上位に */
}
.tooltip-inner {
    max-width: none;
    text-align: left;
    white-space: pre;
}

/* 入力項目エラーツールチップ */
.tooltip.has-error .tooltip-inner {
    background-color: red;
    max-width: none;
}
.tooltip.has-error[x-placement=left] .arrow::before {
    border-left-color: red;
}
.tooltip.has-error[x-placement=top] .arrow::before {
    border-top-color: red;
}
.tooltip.has-error[x-placement=right] .arrow::before {
    border-right-color: red;
}
.tooltip.has-error[x-placement=bottom] .arrow::before {
    border-bottom-color: red;
}

/* 非開閉パネル */
.panel-title a:not([data-toggle="collapse"]) {
    color: black;
    text-decoration: none;
}
.panel-title a:not([data-toggle="collapse"]) .fa {
    display: none;
}

/* 開閉パネル */
.panel-title a[data-toggle="collapse"] {
    color: blue;
    text-decoration: underline;
}
.panel-title a[data-toggle="collapse"] .fa {
    color: black;
    padding-right: 5px;
}
.panel-title a[data-toggle="collapse"] .fa-plus {
    display: none;
}
.panel-title a.collapsed[data-toggle="collapse"] .fa-plus {
    display: inline-block;
}
.panel-title a[data-toggle="collapse"] .fa-minus {
    display: inline-block;
}
.panel-title a.collapsed[data-toggle="collapse"] .fa-minus {
    display: none;
}

/* ラベルの非選択 */
label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.label-blue {
    color: royalblue;
}
label.label-blue {
    font-size: 12pt;
}


/* PqGrid */
.pq-header-outer .pq-cont-inner {
    background-color: unset;
}

.pq-toolbar > label {
    display: contents;
}

/* jQuery UI Dialog */
.ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog-buttonset button {
    width: 80px;
}
.ui-dialog .ui-dialog-buttonpane button:last-child {
    margin-right: 0px;
}

/** bootstrap override **/
.form-group{
    margin-bottom: 0px !important;
}
label{
    margin-bottom: 0px !important;
}
div[class^=col-md-]:not(:first-child) > label {
    text-align: center;
}

.form-control{
    max-height: 30px;
}
.btn{
    height: 28px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
input:focus, .form-control:focus {
    border-color: deepskyblue;
    background-color: aqua;
}

.bootstrap-datetimepicker-widget table td.today {
    color: white;
    background-color: blue;
}
.btn-normal {
    @extend .btn-light;
    background-color: lightgray;
    &:hover {
        background-color: gray;
    }
}
div[class^="col-"] {
    display: flex;
    align-items: center;
}
form > .row {
    margin-left: 15px;
    margin-top: 4px;
    margin-right: 15px;
    margin-bottom: 4px;
}

.row div[class^="col-"] {
    padding-left: 0px;
    padding-right: 0px;
}

svg[style*="NaNpx"] {
    display: none;
}

/* ParamQuery CM */
div[style="position:fixed;bottom:0;right:25px;padding:0 2px;margin:0;opacity:0.5;z-index:10000;border:1px solid lightgray;border-radius:5px;pointer-events:none;"] {
    display: none;
}
